@import "tailwindcss";

body {
  background: #f7f7f7;
}

.scrollbar-hidden {
  -ms-overflow-style: none;     
  scrollbar-width: none;        
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;            
}