@import "tailwindcss";

body {
  background: #f7f7f7;
}

.scrollbar-hidden {
  -ms-overflow-style: none;     
  scrollbar-width: none;        
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;            
}

@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #bill-print,
  #bill-print * {
    visibility: visible;
  }

  #bill-print {
    position: absolute;
    top: 0;
    left: 0;
  }
}