.user-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 50px;
  border: 1px solid black;
}

.user-header>nav,.user-header>div{
  display: flex;
  align-items: center;
  gap: 30px;
}